.header__logo {
    transition: opacity .2s ease;
    background-image: url(../../../images/header-logo.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 176px;
    height: 52px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}

.header__logo:hover {
    opacity: 50%;
}