.lead__subtitle {
    font-family: 'Inter', sans-serif, Arial;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: white;
    text-align: center;
    margin: 32px auto 0 auto;
    max-width: 640px;
}

@media screen and (max-width: 430px) {
    .lead__subtitle {
        margin: 16px auto 0 auto;
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}